[submodule ".config/nvim"]
    path = .config/nvim
    url = git@github.com:kalmenn/dotfiles-nvim.git
    branch = main
[submodule ".config/git"]
    path = .config/git
    url = git@github.com:kalmenn/dotfiles-git.git
    branch = main
